* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  padding: 20px;
  color: #2B283A;
  font-family: Karla;
  font-weight: 700;
}

main {
  height: 400px;
  max-width: 800px;
  background: #F5F5F5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  margin-bottom: 1.5em;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 1em;
  /* width: 250.88px; */
  /* height: 252.8px; */
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  /* background: #FFFFFF; */
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0px 2px 2px 0px #00000026;
  cursor: pointer;
}

.btn {
  color: #FFFFFF;
  background: #5035FF;
  border: none;
  padding: .875em 1.25em;
  /* width: 92.16px; 
  height: 35.84px;  */
  border-radius: 3.81px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

